.git
.gitignore
.venv
venv
node_modules
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.env
*.sqlite3
staticfiles
media
.vscode
.idea
*.md
README.md
.dockerignore
Dockerfile
docker-compose.yml
static/css/tailwind.css
