DEBUG=True
SECRET_KEY=sua-chave-secreta-muito-segura-aqui
ALLOWED_HOSTS=localhost,127.0.0.1
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=querolink_db

API_KEY_PAGAR_ME=sua_chave_pagar_me
API_KEY_INSTANCIA=sua_chave_whatsapp
INSTANCE=instancia_whatsapp

JWT_ACCESS_TOKEN_LIFETIME_MINUTES=30
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
